<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/static/style.css" rel="stylesheet" />
    <style>
      .er{
        color: red;
      }
    </style>
  </head>
  <body>

    <section class="container">
      <header>Register User</header>
      <form action="" class="form" method="post">
        {% csrf_token %}
        {% for message in messages %}
        <h3 class="er">{{message}}</h3>
        {% endfor %}
        <div class="input-box">
          <label>Username</label>
          <input name="username" type="text" placeholder="Enter  Username" required />
        </div>

        <div class="input-box">
          <label>Email Address</label>
          <input name="email" type="email" placeholder="Enter email address" required />
        </div>
        <div class="input-box address">
          <label>Password</label>
          <input name="password" type="text" placeholder="Enter Password" required />
        </div>
        <div class="input-box address">
          <label>Confirm Password</label>
          <input name="cpassword" type="text" placeholder="Re-enter Password" required />
        </div>
        <button>Submit</button>
        <a href="{%url 'login' %}">Already have an account</a>
      </form>
    </section>

  </body>
</html>
